* {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    /* overflow: hidden; */
    /* font-family: 'Rock Salt', cursive; */
}


@font-face {
    font-family: 'deathnote';
    src: url(../deathnote.ttf);
}

body {
    font-family: 'deathnote';
}


/* ヘッダーエリア */
.cover {
    width: 100%;
    height: 100%;
    background-color: black;
    color: #f5f5f5;
    display: flex;


    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

.cover h2 {
    font-size: 80px;
    position: absolute;
    top: 35%;
    left: 35%;
}


.header {
    width: 100%;
    height: 900px;
    background-color: black;
    color: #f5f5f5;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
}

.header h1 {
    font-size: 70px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
}

.open-note {
    font-weight: bold;
    position: absolute;
    right: 60px;
    bottom: 20px;
    width: 140px;
    height: 40px;
}

.header img {
    width: 250px;
    position: absolute;
    right: 15px;
    bottom: 30px;
}


.sub-title {
    font-size: 42px;
}

.detail {
    text-align: left;
}

.detail p {
    margin-top: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 18px;
}


/* メインエリア */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}


/* 表示エリア */
.display-area {
    width: 60%;
    height: 800px;
    background-color: #f5f5f5;
}

.display-area-title {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background-color: black;
    border-right: 1px solid;
}

.display-area-title h2 {
    font-size: 40px;
    color: #f5f5f5;
    font-weight: bold;
    margin-bottom: 0px;
}

.memo-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 8px 3px #ccc inset;
}


/* 入力エリア */
.input-area {
    width: 40%;
    height: 800px;
    background-color: #f5f5f5;
}

.input-area-title {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background-color: black;
}

.input-area-title h2 {
    font-size: 40px;
    /* color: #2f4f4f; */
    color: #f5f5f5;
    font-weight: bold;
}

.input-list {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 8px 3px #ccc inset;
}

.input-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-item p {
    font-size: 40px;
    font-weight: bold;
}

select {
    margin-bottom: 50px;
}

.form-control {
    width: 400px;
    margin-bottom: 60px;
}

.btn-success {
    margin-right: 20px;
    box-shadow: 1px 3px 3px black;
    background-color: black;
    border-color: black;
}

.btn-success:hover {
    margin-right: 20px;
    box-shadow: 1px 3px 3px black;
    background-color: black;
    border-color: black;
}

/* 表示エリア */
.memo-list {
    width: 100%;
    height: 700px;
}

.memo-items {
    width: 80%;
    height: 80%;
}

.list {
    width: 250px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    box-shadow: 1px 3px 3px black;
    /* background-color: #2f4f4f; */
    background-color: black;
    color: #f5f5f5;
}

.list-title {
    font-size: 24px;
    margin-bottom: 6px;
    text-align: center;
    margin: 0px;
    padding: 6px;
}

.btn-danger {
    background-color: #8b0000;
    border-color: #8b0000;
}

.btn-danger:hover {
    background-color: #8b0000;
    border-color: #8b0000;
}



.y {
    margin-top: 50px;
}

.y p {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}
